<h1>Add a task page</h1>


<form action="/create_task" method="POST">
	<label>Task name:</label>
	<input type="text" name="task_name">
	<br>
	<label>Task content:</label>
	<input type="text" name="task_content">
	<br>
	<button type="submit">Submit</button>
</form>