

<form method="post" action="/asciis">
<textarea name="asciis"></textarea>
	<input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
  <button type="submit">Submit text</button>
</form>