<h1>Home page</h1>

<h2>Concerts:</h2>
<ul>
	<% @this_month.each do |event| %>
	<li>
	<h3><%= link_to(event.artist, concert_path(event)) %></h3>
	<h4><%= event.venue %></h4>
	<p><%= event.date%></p>
	</li>
	<% end %>
</ul>

 <%= link_to("New Concert", new_concert_path) %>