<!DOCTYPE html>
<html>
<head>
	<title>Nodezzzz!</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

<h1>Home Biatch</h1>
<a href="/about">About page</a>
<% pokemonList.forEach(function(poke){ %>
<li>
<%= poke.name %>
</li>
	
<% }); %>
</body>
</html>