

<h1>Ariel Deschapell</h1><br><h2>I'm awesome</h2><br><p>Ayyyyyyy it's true</p>

<% if Date.today.tuesday? %>
	<h3> It's tuesday!</h3>
<% end %>

<% if Date.today.monday? %>
	<h3> It's Monday!</h3>
<% end %>

<p> Tralalalalalala time is <%= Time.now %>
</p>
<ul>
<li><a href="/">Link to home</a></li>
<li><a href="/hi">Link to hi</a></li>
<li><a href="/about">Link to about</a></li>
</ul>