
<link rel="stylesheet" href="styles.css">
<h1>This is my first ruby website</h1>
<h2>Pizza page</h2>

<P>The ingredients for this awesome pizza are:</P>
<ul>
<% @toppings.each do |toppings| %>
	<li> <%= toppings %> </li>
<% end %>
</ul>

<p>Get em before this thing does!</p>
<img src="/giphy.gif"\>