<h3>DB Wizardry</h3>
<ul>
<% @projects.each do |project| %>
	<li><%= link_to project.name, project_path(project) %>
		<% if project.description %>
			- <%=project.description %>
			<%= link_to("Go to time stamps", project_time_entries_path(project)) %>
			<% end %>

	</li>
	
	<% end %>
</ul>

<%= link_to "Create a new project", new_project_path %>
