<h1>Welcome to my movie game!</h1>

<form method="GET" action="/search_results">
	<label>Enter a common word found in move titles</label>
	<input type="text" name="search_word">
	<button type="submit">Submit</button>
</form>



