

<center>
		<h4><a href="#">Ariel Deschapell</a></h4>
		<a href="/projects">See your stuff</a>

		<br>
		<!-- <img src="/assets/giphy.gif" alt="Hooli employees from the Silicon Valley TV show discover 'middle out' compression via crude jerking movements"/> -->
		<%= image_tag "giphy.gif" %>

		<form action="/">
			
		</form>
</center>
