<h1>Home</h1>
<ul>
<li><a href="/universal">Universal Calculator</a></li>
<!-- <li><a href="/add">Addition Calculator link</a></li>
<li><a href="/subtract">Subtract Calculator link</a></li>
<li><a href="/multiply">Multiplication Calculator link</a></li>
<li><a href="/divide">Division Calculator link</a></li> -->
</ul>