<!DOCTYPE html>
<html>

<head>
  <title>Universal | Online Calculator</title>
</head>

<body>

  <h1>Universal</h1>

<form action="/calculate" method="POST">

<input placeholder="first number" name="first_number" type="number">
<input placeholder="second number" name="second_number" type="number">

<button type="submit" name="operation" value="addition">Add</button>
<button type="submit" name="operation" value="subtraction">Subtract</button>
<button type="submit" name="operation" value="multiplication">Multiply</button>
<button type="submit" name="operation" value="division">Divide</button>
</form>

</body>


</html>